{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 0.1%"
        ]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "webpack-chunkname"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-0"
      ],
      "plugins": ["istanbul"]
    }
  }
}
