@import '~bulma/sass/utilities/all';

$primary: #f75239;
$primary-invert: findColorInvert($primary);
$dark: #402f3f;
$dark-invert: findColorInvert($dark);
$success: #16a085;
$siccess-invert: findColorInvert($success);

// e.g is-white
$colors: (
  'white': ($white, $black),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'dark': ($dark, $dark-invert),
  'primary': ($primary, $primary-invert),
  'info': ($info, $info-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert)
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$dimensions: (16, 24, 32, 48, 64, 96, 128);

@import '~bulma';
@import '~buefy/src/scss/buefy';
