- const production = htmlWebpackPlugin.options.production
- const serviceWorker = htmlWebpackPlugin.options.serviceWorker

doctype html
html(lang=locale)
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,viewport-fit=cover')
    if production
      meta(http-equiv='Content-Security-Policy' content='upgrade-insecure-requests')
    title Hibari
    meta(property='og:title' content='Hibari')
    meta(property='og:type' content='website')
    link(rel='alternate' href='/' hreflang='x-default')
  body
    #app
    noscript Please enable JavaScript to use Hibari.
    script(type='text/javascript').
      const locale = window.navigator.language || window.navigator.userLanguage || 'en'
      document.querySelector('html').setAttribute('lang', locale)
    if production
      script(type='text/javascript').
        (() => {
          'use strict'
          window.addEventListener('load', () => {
            if ('serviceWorker' in navigator &&
                (window.location.protocol === 'https:')) {
              navigator.serviceWorker.register('/#{serviceWorker}')
              .then(register => {
                register.onupdatefound = () => {
                  if (navigator.serviceWorker.controller) {
                    const install = register.installing
                    install.onstatechange = () => {
                      switch (install.state) {
                        case 'redundant':
                          throw new Error('Service worker is redundant.')
                      }
                    }
                  }
                }
              }).catch(function(e) {
                console.error('Error during service worker registration:', e)
              })
            }
          })
        })()
      script(type='text/javascript' src='/'+serviceWorker)
    else
      p(style='pointer-events:none;position:fixed;left:1rem;bottom:.75rem;z-index:999999') Development Build
