- const production = htmlWebpackPlugin.options.production
- const serviceWorker = htmlWebpackPlugin.options.serviceWorker

doctype html
html(lang=locale)
  head
    title Hibari
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,viewport-fit=cover')

    if production
      meta(http-equiv='Content-Security-Policy' content='upgrade-insecure-requests')

    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#eb5221')
    link(rel='shortcut icon' href='/favicon.ico')
    meta(name='apple-mobile-web-app-title' content='Hibari')
    meta(name='application-name' content='Hibari')
    meta(name='msapplication-config' content='/browserconfig.xml')
    meta(name='theme-color' content='#1f1621')

    meta(property='og:title' content='Hibari')
    meta(property='og:type' content='website')

    link(rel='alternate' href='/' hreflang='x-default')
  body
    #app
    noscript Please enable JavaScript to use Hibari.
    script(type='text/javascript').
      document.querySelector('html').setAttribute('lang',window.navigator.language||window.navigator.userLanguage||'en')
    if production
      script(type='text/javascript').
        (()=>{window.addEventListener('load',()=>{'serviceWorker'in navigator&&window.location.protocol==='https:'&&navigator.serviceWorker.register('/#{serviceWorker}').then(a=>{a.onupdatefound=()=>{if(navigator.serviceWorker.controller){const b=a.installing;b.onstatechange=()=>{switch(b.state){case'redundant':console.warn('SW redundant')}}}}}).catch(a=>{console.error('SW error',a)})})})()
      script(type='text/javascript' src='/'+serviceWorker)
    else
      p(style='pointer-events:none;position:fixed;left:1rem;bottom:.75rem;z-index:999999') Development Build
